@use "tailwindcss";
@use "admin/sidebar";
@use "admin/modal";
@use "admin/nprogress";

body, 
.ant-row,
.ant-col,
.ant-typography,
.ant-btn,
.ant-input,
h1, h2, h3, h4, h5, p, div {
  font-family: "Roboto", sans-serif !important;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme static {
  --color-primary: var(--color-yellow-400);
  --color-secondary: var(--color-orange-500);
  --margin-sec: 2.5rem;
  --padding-cont: 0.5rem;
  --gap-btn: 0.75rem;
  --radius-sec: 0.375rem;
}

@theme dark {
  --color-primary: var(--color-yellow-300);
  --color-secondary: var(--color-orange-100);
  --margin-sec: 2.5rem;
  --padding-cont: 0.5rem;
  --gap-btn: 0.75rem;
  --radius-sec: 0.375rem;
}
